body{
    background-color: #e6e6e6;
    padding: 10px;
}

.echarts{
    padding: 0px;
    height: 300px;
    border: dashed 1px darkblue;
}

.themes{
    padding: 0px;
    border: dashed 1px darkblue;
}
